@charset "UTF-8";
@import 'common';
/* -------------------------------------- */
/* header */
.header-lists {
  padding: 30px;
  margin-bottom: 100px;
  li:first-child {
    margin-right: auto;
    font-size: 1.5em;
  }
  li {
    margin-left: 20px;
    a {
      padding: 15px;
      transition: 0.6s;
      border-bottom: 1px solid #fff;
    }
    &:hover a {
      background-color: #fff;
      color: blue;
      border-radius: 20px;
    }
  }
}

/* -------------------------------------- */
/* main */
.main-title {
  padding: 30px;
  h1 {
    font-size: 40px;
  }
  p {
    margin-top: 50px;
    font-size: 20px;
  }
}

.contents {
  justify-content: space-between;
  margin: 0 30px;
  .lang {
    display: inline-block;
    width: 30%;
    padding: 30px;
    margin: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px blue;
    a {
      font-size: 20px;
    }
  }
}

.test {
  width: 100%;
  height: 500px;
  background-color: $main-background-color;
}
